/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

.pull-right {
  float: right !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-3 {
  width: 33.33333%;
}

.col-2 {
  width: 50%;
}

.col-full {
  width: 100%;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 32px !important;
}

.btn {
  text-align: center;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: black;
}
.text-white {
  color: white !important;
}

.text-center {
  text-align: center !important;
}

#main {
}

#header {
  background-color: black;
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}

#nav .nav-arrow-con {
  font-size: 12px;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}
#nav li a {
  line-height: 46px;
  padding: 0px 24px;
  text-decoration: none;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #ccc;
}

#nav .subnav {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  top: 100%;
  display: none;
}

#nav .subnav a {
  color: black;
  padding: 0 16px;
  line-height: 38px;
}
#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
#header .search-btn,
#header .mobile-menu-btn {
  float: right;
  padding: 0 21px;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: black;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon,
#header .menu-icon {
  color: white;
  font-size: 20px;
  line-height: 46px;
  font-weight: bold;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("../img/slider1/chicago.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: white;
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 400;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px black;
}
#content {
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0px 112px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

#content .section-sub-heading {
  font-style: italic;
  opacity: 0.6;
  margin-top: 25px;
  font-size: 15px;
  text-align: center;
}
#content .description {
  font-size: 15px;
  line-height: 1.4;
  margin-top: 25px;
  text-align: justify;
}

#content .members-list {
  margin-top: 32px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-image {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
#content .tour-section {
  background-color: black;
}

#content .tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style-type: none;
}

#content .tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
#content .tickets-list .sold-out {
  margin-left: 16px;
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
}

#content .tickets-list .quantities {
  float: right;
  width: 24px;
  height: 24px;
  background: #000;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
#content .places-list {
  margin-top: 16px;
}

#content .place-img {
  width: 100%;
  display: block;
}
#content .place-img:hover {
  opacity: 0.6;
}
#content .place-body {
  font-size: 15px;
  background-color: #fff;
  padding: 16px;
}
#content .place-heading {
  font-size: 15px;
}
#content .place-time {
  color: #757575;
  margin-top: 15px;
}
#content .place-description {
  margin-top: 15px;
  line-height: 1.6;
}

/* contact */
.contact-content {
  margin-top: 47px;
}

.contact-info {
  line-height: 1.5;
  font-size: 18px;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 11px;
  border: 1px solid #ccc;
  width: 100%;
}

.map-section img {
  width: 100%;
}

#footer {
  text-align: center;
  padding: 64px 16px;
}
.socials {
  font-size: 20px;
}

.socials a {
  padding: 3px;
  color: #757575;
  text-decoration: none;
}

.socials a:hover {
  opacity: 0.6;
}
.powered {
  color: #757575;
  font-size: 15px;
  margin: 20px 0;
}

.powered a {
  color: #757575;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.open {
  display: flex;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 250px;
  border-radius: 3px;
  position: relative;
  animation: modalSlidedown linear 0.3s;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.modal-header i {
  margin-right: 10px;
}
.modal-close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.9;
}

.modal-body {
  padding: 17px 17px;
  display: flex;
  flex-direction: column;
}
.modal-label {
font-size: 15px;
margin-bottom: 15px;
}
.modal-input {
  font-size: 15px;
  margin-bottom: 25px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

#buy-ticket {
  border: 1px solid #009688;
  background-color: #009688;
  padding: 10px;
  color: white;
  font-size: 17px;
}

#buy-ticket:hover {
  cursor: pointer;
  opacity: 0.9;
}

.modal-footer {
  padding: 17px 17px;
  text-align: right;
  font-size: 15px;
}

@keyframes modalSlidedown {
  from {
    opacity: 0;
        transform: translateY(-100%);
  }  
  to {
      opacity: 1;
      transform: translateY(0);
    }
}